/* ajustement du thème "simple" pour s'approcher du thème Kaizen */
:root {
	--r-main-font-size: 25px;
	--r-heading-font: 'bebas neue';
	--r-heading-text-transform: uppercase;
}

.reveal .slides {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

#title-slide p {
	/* text under title, on front slide */
	color: white;
	text-shadow: 0 0 2px gray, 0 0 10px black;
}

.reveal h1 {
	font-size: 2.3em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}
.reveal h2 {
	font-size: 1.8em;
}
.reveal h1,
.reveal h2 {
	/* on s'assure que le fond de titre est assez large -- à améliorer */
	margin-left: -10%;
	margin-right: -10%;
	padding-left: 10%;
	padding-right: 10%;
	background: linear-gradient(to right, #beffb5, #19efef 77%);
}

.reveal h3 {
	font-size: 1.4em;
}

/* classes spécifiques pour la présentation */
.left {
	float: left;
	max-height: 90%;
	width: 45%;
	margin-top: auto;
	margin-bottom: auto;
}
.right {
	float: right;
	max-height: 90%;
	width: 45%;
	margin-top: auto;
	margin-bottom: auto;
}
